<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<h1>Product page</h1>

<ul>
    <li><a href="/">Home page</a></li>
    <li sec:authorize="hasRole('USER')"><a href="/user">User page</a></li>
    <li sec:authorize="hasRole('USER')"><a href="/user">User Info</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE')"><a href="/admin">Admin page</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE','AUTHOR')"><a href="admin/manage/blog">Blog Manage</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE')"><a href="/admin/manage/brand">Brand Manage</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE')"><a href="/admin/manage/category">Category Manage</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE')"><a href="/admin/manage/product">Product Manage</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE')"><a href="/admin/manage/order">Order Manage</a></li>
    <li sec:authorize="hasAnyRole('ADMIN','SALE')"><a href="/admin/manage/product">Category Manage</a></li>
</ul>
</body>
</html>